.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination__button {
  margin: 0 5px;
  padding: 5px 10px;
  background-color: #d82f2f;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.pagination__button.active {
  background-color: #ff0000;
  color: rgb(255, 255, 255);
}
